<div class="row">
<% unless logged_in? %>
  <div class="center-block">
    <div class="well">
      <a href="/login" role="button" class="btn btn-success btn-lg btn-block"> Please Login</a></h2>
    </div>
  </div>

<% else %>
  <div class="center-block">
    <h2>Hello <%=current_user['email']%></h2>
  </div>
<% end %>

</div>